-@ val book: cn.orz.pascal.scala.ebooksearch.models.Book
p
  | e-Ndex へ ようこそ.
  br/
  | このサイトでは電子書籍の横断検索です.
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

section#bookDetail
  header
    h2 #{book.title}
  article
    ul
      li #{book.title} 
      li #{book.author} 
      li #{book.publisher} 
      li #{book.isbn} 
      li
        img(src="#{book.image.large}")

    h3 取り扱いストア
    ul
      - for(item <- book.items)
        li
          a(href="#{item.url}")
            p #{item.provider.name} - #{item.title}
          form
          form{:action => "/books/change", :method => "post"}
            input{:type => "hidden", :value => {item.title}, :name => "title"}
            input{:type => "hidden", :value => {item.url}, :name => "url"}
            input{:type => "hidden", :value => {item.value}, :name => "value"}
            input{:type => "hidden", :value => {item.author}, :name => "author"}
            input{:type => "hidden", :value => {item.author_url}, :name => "author_url"}
            input{:type => "hidden", :value => {item.image_url}, :name => "image_url"}
            input{:type => "hidden", :value => {item.provider.name}, :name => "provider_name"}
            input{:type => "hidden", :value => {book.id}, :name => "oid"}
            input{:type =>"submit", :value => "こっちに変える"}
            p 
              span ISBN:
              input{:type => "text", :value => "", :name => "isbn"}
