-@ val book: cn.orz.pascal.ebooksearch.models.Book
link{:rel => "stylesheet/less", :href => "/css/book.less", :type => "text/css"}

form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

section#bookDetail
  header
    h1 #{book.title}
  section#contents
    h2
      span#author 作者: #{book.author} 
    - if (book.isbn != "")
      p#detail #{book.itemCaption} 
      ul#info
        li#genre #{book.genre} 
        li#isbn ISBN:#{book.isbn} 
        li#salesDate 発売日:#{book.salesDate} 
        li#publisher 出版社:#{book.seriesName} - #{book.publisherName} 
  img#image(src="#{book.image.original}")

section#shops
  h2 取り扱いストア
  ul
    - for(item <- book.items)
      li
        a(href="#{item.url}")
          p #{item.provider.name} - #{item.title}
        form{:action => "/books/change", :method => "post"}
          input{:type => "hidden", :value => {item.title}, :name => "title"}
          input{:type => "hidden", :value => {item.url}, :name => "url"}
          input{:type => "hidden", :value => {item.value}, :name => "value"}
          input{:type => "hidden", :value => {item.author}, :name => "author"}
          input{:type => "hidden", :value => {item.author_url}, :name => "author_url"}
          input{:type => "hidden", :value => {item.image_url}, :name => "image_url"}
          input{:type => "hidden", :value => {item.provider.name}, :name => "provider_name"}
          input{:type => "hidden", :value => {book.id}, :name => "oid"}
          p 
            span ISBN:
            input.isbn{:type => "text", :value => "", :name => "isbn"}
            input{:type =>"submit", :value => "付替える"}
