-@ val feeds: Map[(cn.orz.pascal.scala.ebooksearch.models.Provider, java.util.Date), Set[cn.orz.pascal.scala.ebooksearch.models.Book]]
-@ val bookCount: Long
link{:rel => "stylesheet/less", :href => "/css/search.less", :type => "text/css"}

p
  | e-Ndex へ ようこそ.
  br/
  | 現在、#{bookCount}冊の電子書籍が保管されています。
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

section#feeds
  header
    h2 新着一覧
  - for(feed <- feeds)
    section.feed
      h2 
        a(href="#{feed._1._1.url}") #{feed._1._2} - #{feed._1._1.name}
      span
        .news 
          a(href="/news/#{feed._1._1.name}") もっと見る
      ul
        - for(item <- feed._2)
          li
            a(href="/books/#{item.id}")
              img(src="#{item.image.large}")
            article
              h3
                a(href="/books/#{item.id}") #{item.title} 
