-@ val feeds: List[cn.orz.pascal.scala.ebooksearch.models.FeedItem]
p
  | eNdex へ　ようこそ.
  br/
  | このサイトでは電子書籍の横断検索ができます.
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}
p 新着
ul#resultt
  - for(feed <- feeds)
    li 
      a(href="#{feed.item.url}")
        | #{feed.createdAt} #{feed.item.title} - #{feed.item.author} - #{feed.item.provider.name}
