-@ val feeds: Map[(cn.orz.pascal.scala.ebooksearch.models.Provider, java.util.Date), Set[cn.orz.pascal.scala.ebooksearch.models.Book]]
p
  | e-Ndex へ ようこそ.
  br/
  | このサイトでは電子書籍の横断検索です.
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

section#feeds
  header
    h2 新着一覧
  - for(feed <- feeds)
    section.feed
      h2 
        a(href="#{feed._1._1.url}") #{feed._1._2} - #{feed._1._1.name}
      ul
        - for(item <- feed._2)
          li
            a(href="/books/#{item.id}")
              img(src="#{item.image.large}")
            article
              h3
                a(href="/books/#{item.id}") #{item.title} 
