-@ val books: Set[cn.orz.pascal.scala.ebooksearch.models.Book]
-@ val query:String = params("q")
-@ val pageNumber:Int
-@ val nextBkw:Int
-@ val nextEbj:Int
-@ val nextPbr:Int
link{:rel => "stylesheet/less", :href => "/css/search.less", :type => "text/css"}

form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q", :value => query}
  input#bkw{:type => "hidden", :name => "bkw", :value => nextBkw}
  input#ebj{:type => "hidden", :name => "ebj", :value => nextEbj}
  input#pbr{:type => "hidden", :name => "pbr", :value => nextPbr}
  input{:type =>"submit", :value => "search"}
section#result
  header 
    |検索結果 #{pageNumber}ページ目(#{books.size} 件)
    -if(pageNumber > 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber - 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#prev Prev
      span |
    -if(nextBkw == 1 || nextEbj == 1 || nextPbr == 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber + 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#next Next

  ul
    - for(book <- books)
      li
        a(href="/books/#{book.id}")
          img(src="#{book.image.medium}")
        article
          h3
            a(href="/books/#{book.id}") #{book.title} 
          p #{book.author}

  footer 
    |検索結果 #{pageNumber}ページ目(#{books.size} 件)
    -if(pageNumber > 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber - 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#prev Prev
      span |
    -if(nextBkw == 1 || nextEbj == 1 || nextPbr == 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber + 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#next Next
