-@ val items: List[cn.orz.pascal.scala.ebooksearch.models.Item]
-@ val query:String = params("q")
-@ val pageNumber:Int
-@ val nextBkw:Int
-@ val nextEbj:Int
-@ val nextPbr:Int
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q", :value => query}
  input#bkw{:type => "hidden", :name => "bkw", :value => nextBkw}
  input#ebj{:type => "hidden", :name => "ebj", :value => nextEbj}
  input#pbr{:type => "hidden", :name => "pbr", :value => nextPbr}
  input{:type =>"submit", :value => "search"}
section#result
  header 
    |検索結果 #{pageNumber}ページ目(#{items.size} 件)
    -if(pageNumber > 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber - 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#prev Prev
      span |
    -if(nextBkw == 1 || nextEbj == 1 || nextPbr == 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber + 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#next Next

  ul
    - for(item <- items)
      li
        a(href="#{item.url}")
          img(src="#{item.image_url}")
        article
          h3
            a(href="#{item.url}") #{item.title} 
          p #{item.value} 円
          p #{item.author}
          p 
            a(href="#{item.provider.url}") #{item.provider.name}

  footer 
    |検索結果 #{pageNumber}ページ目(#{items.size} 件)
    -if(pageNumber > 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber - 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#prev Prev
      span |
    -if(nextBkw == 1 || nextEbj == 1 || nextPbr == 1)
      a(href='#{"/search?q=" + query + "&page="+(pageNumber + 1) + "&bkw=" + nextBkw + "&ebj=" + nextEbj + "&pbr=" + nextPbr }')
        span#next Next
