-@ val items: List[cn.orz.pascal.scala.ebooksearch.searcher.Item]
-@ val query:String = params("q")
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q", :value => query} 
  input{:type =>"submit", :value => "search"}
p counts:#{items.size}
ul#resultt
  - for(item <- items)
    li
      a(href="#{item.url}")
        | #{item.title} - #{item.author} - #{item.provider.name}
    
